.page {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.left {
  min-height: 100%;
  padding: 6rem 4rem calc(20vh - 4rem) 4rem;
  background-color: var(--black);
  display: flex;
  flex: 1;
  max-width: max-content;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.textSection {
  margin-right: 4rem;
  margin-bottom: 2rem;
  flex: 1;
  min-width: 18rem !important;
}

.infoSection {
  min-width: max-content;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

.title {
  -webkit-text-stroke: 1px var(--offwhite);
  color: transparent;
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 4rem 0;
  overflow-wrap: break-word;
  /* word-break: break-word; */
}

.textWrapper p {
  color: var(--grey); 
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.freelance {
  border-top: 1px solid var(--dark-grey);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  max-width: max-content;
}

.contactLink {
  display: block;
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  width: max-content;
}

.info {
  margin: 0;
  width: max-content;
  min-width: 100%;
  padding-top: 2rem;
  border-top: 1px solid var(--dark-grey);
  margin-bottom: 4rem;
}

.info h3 {
  color: var(--offwhite);
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 0 1rem 0;
  font-weight: normal;
}

.info ul, .info li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info li {
  /* margin-left: 2rem; */
  height: 1rem;
  color: var(--grey);
  margin-bottom: 1rem;
  font-family: 'Agrandir Grand';
}

.info li * {
  line-height: 1rem;
  font-size: 1rem;
  color: var(--grey);
  font-family: 'Agrandir Grand';
}

.right {
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  width: 23.5rem;
  min-width: 23.5rem;
  padding: 0 4rem 6rem 1rem;
  background-color: var(--dark-grey);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.clients, .skills, .title, .textWrapper, .freelance {
  transform: translate(0, 100vh);
}

.right h2 {
  font-family: 'Agrandir Grand';
  font-weight: bold;
  font-size: 5rem;
  line-height: 5rem;
  color: var(--medium-grey);
  margin: 0;
  z-index: 15;
  text-transform: uppercase;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.white {
  color: var(--offwhite) !important;
  position: relative;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.primary {
  color: #000 !important;
  font-weight: bold;
  white-space: nowrap;
  composes: colorCycleText from '../stylesheets/animation.css';
}

.underline {
  color: var(--offwhite);
  position: relative;
  transition: .3s color;
}

.underline span::before {
  height: 1px !important;
  bottom: -1px !important;
  background-color: var(--secondary) !important;
}

.underline:hover {
  color: var(--primary);
}

.separator {
  height: 1px;
  margin: 2rem 0 2rem 4rem;
  background-color: var(--dark-grey);
}

.aboutScroll {
  position: fixed;
  top: 0;
}

@media screen and (max-width: 700px) {
  .title {
    word-break: break-word;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .left {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .textWrapper p, .textWrapper span {
    font-size: 1rem;
    line-height: 1rem;
  }

  .freelance {
    max-width: unset;
    width: 100%;
    display: inline-block;
  }

  .freelance .white {
    font-size: 1rem;
    line-height: 1rem;
  }

  .contactLink span {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .textSection {
    margin-right: 0;
  }

  .infoSection {
    width: 100%;
  }
}

/* ipad */
@media screen and (max-width: 1024px) {
  .right {
    display: none;
  }
}