.page {
  padding-bottom: 20vh;
}

.unique {
  color: #000;  
  margin-bottom: 4rem;
  font-size: 16vw !important;
  line-height: 16vw !important;
  word-wrap: normal;
  overflow-wrap: normal;
  composes: colorCycleText from '../stylesheets/animation.css';
}

.p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--grey);
  margin: 0;
}

.em {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--offwhite);
  margin: 0;
  margin-top: 1rem;
}

.emailWrapper{
  margin-top: 4rem;
}


.email {
  color: var(--offwhite);
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
  display: inline-flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.socials {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

.scrollBar {
  position: fixed !important;
  top: 0;
  right: 0;
}


.t1, .t2, .unique, .emailWrapper,  .socials {
  transform: translate(0, 100vw);
}

@media screen and (max-width: 900px) {
  .unique {
    font-size: 15.5vw !important;
    line-height: 15.5vw !important;
  }
}

@media screen and (max-width: 900px) {
  .unique {
    font-size: 15vw !important;
    line-height: 15vw !important;
  }
}

@media screen and (max-width: 700px) {
  .page {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .p, .em {
    font-size: 1rem;
    line-height: 1rem;
  }

  .email {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .socials {
    margin-top: 4rem;
  }

  .unique {
    font-size: 16.5vw !important;
    line-height: 16.5vw !important;
  }
}