.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--black);
}

.title {
  font-weight: bold;
  margin-bottom: 4rem;
  font-size: 4.5rem;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: -.2rem;
}

.title span {
  fill: var(--offwhite);
  stroke: var(--offwhite);
  font-weight: bold;
  text-transform: uppercase;
}

#titleStart {
  /* margin-left: 4.15rem; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--offwhite);
}

.text {
  color: var(--grey);
  /* max-width: 80%; */
}

.workBtn {
  background: none;
  border: none;
  color: var(--offwhite);
  font-size: 2rem;
  margin-left: 4rem;
  margin-top: 2rem;
}