@font-face {
  src: url('../assets/fonts/Pangram-Black.otf');
  font-weight: bold;
  font-family: 'Pangram';
}

@font-face {
  src: url('../assets/fonts/Pangram-ExtraLight.otf');
  font-weight: 200;
  font-family: 'Pangram';
}

@font-face {
  src: url('../assets/fonts/Pangram-Regular.otf');
  font-weight: normal;
  font-family: 'Pangram';
}

@font-face {
  src: url('../assets/fonts/Agrandir-Grand.otf');
  font-weight: normal;
  font-family: 'Agrandir Grand';
}

@font-face {
  src: url('../assets/fonts/Agrandir-GrandHeavy.otf');
  font-weight: bold;
  font-family: 'Agrandir Grand';
}

@font-face {
  src: url('../assets/fonts/Agrandir-GrandLight.otf');
  font-weight: 200;
  font-family: 'Agrandir Grand';
}